################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Notes/.vs/Notes
/Notes/Notes/bin/Debug
/Notes/.vs/Notes
/Notes/Notes/obj
/Notes/Notes/.vs/ProjectEvaluation/notes.app.projects.v5.2
/Notes/Notes/.vs/ProjectEvaluation/notes.app.metadata.v5.2
/MauiTest/obj
/MauiTest/.vs
/MauiTest/bin/Debug
